
  .containerTodo {
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 100%);
    height: 100vh;
    
    width: 100%;
    box-sizing: border-box;
  }
  

.todoForm{
  padding: 10px;
}